body{
  background-image: url("../img/emilia-about.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 75.5%;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
  background-size: contain;
  margin: 0 auto;
}

span{
  left:81%;
  position: relative;
  border-left: 1px solid;
}

span:nth-child(4){
  border-right: 1px solid;
}

.navbar{

  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 0;
  float: right;



}

.navbar li{

  list-style: none;
  display: inline;
  padding: 0px 10px 0px 10px;
}



.navbar a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 80%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}

.social img{
  height: 18px;
  width: 18px;
}

.social{

  float: right;
  clear:right;
  margin-right: 2.5%;
}

.social li{

  list-style: none;
  display: inline;
}

#about{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 290px;
  font-size: 75px;
  color:black;
  clear:both;

}

p{

  color: #40A08F;
  margin-left: 85px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;

}

small{
  color: #40A08F;
  font-size: 12px;
  margin-left: 85px;
}
